/* font-import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Lobster&family=Lobster+Two:ital,wght@0,700;1,700&family=Poppins:wght@300;400&family=Ubuntu:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* ------------common------------ */
:root {
    --primary-color: #00b4d8;
    --p-color: #9a8c98;
    --footer-color: #14213d;
}

.container {
    padding: 30px 0;
}


/* ------------nav-bar section---------- */
.nav-hero {
    height: 100vh;
    background: url(/assets/images/banner1.jpg) no-repeat center center fixed;
    background-size: 100%;
}

.nav-left img {
    width: 200px;
    height: 100px;
}

.nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-right a {
    border-radius: 50px;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    transition: .5s;
}

.nav-right a:hover {
    background-image: linear-gradient(skyblue, rgb(0, 153, 255));
}

/* ------------hero-section------------- */
.hero-main {
    position: relative;
    top: 100px;
    color: #fff;
}

.hero-main h1 {
    font-weight: 700;
    color: #fff;
    font-family: 'Lobster', cursive;
}

.input-group {
    width: 400px;
    margin: 0 auto;
}

.btn-search {
    background: var(--primary-color);
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color);
}

.btn-search:link,
.btn-search:visited {
    color: #fff;
}

.btn-search:active,
.btn-search:hover {
    background: #1c1c1c;
    color: #fff;
}

/* featured-detination */
.card {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
}

.text-center {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    padding: 20px 0;
}

.card-body {
    margin-top: 25px;
}

.card-body h5 {
    font-weight: 700;
}

.card-body p {
    color: var(--p-color);
}

.cf-details {
    display: flex;
    border: none;
    background: white;
    padding-bottom: 15px;
}

.card-footer-details {
    margin-right: 10px;
}

.card-footer-details i {
    color: var(--primary-color);
}

.cost {
    position: absolute;
    top: 215px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------travelling-gallery section------------------- */
.gallery {
    position: relative;
    transition: 1s;
}

.gallery-banner img {
    width: 100%;
}

.gallery-details {
    position: absolute;
    top: 0;
    text-align: center;
    background-color: rgba(0, 204, 255, 0.418);
    width: 267px;
    height: 178px;
    display: none;
    padding-top: 35px;
    color: #fff;
}

.gallery:hover .gallery-details {
    display: block;
    cursor: pointer;
}


/* -----------------offer-section--------------- */
.offer {
    background-image: url(/assets/images/banner2.jpg);
    background-size: 100%;
    height: 30vh;
    margin-top: 80px;
    margin-bottom: 30px;
}

.offer-main {
    display: flex;
    align-items: center;
}

.offer-details,
.offer-btn {
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.offer-btn a {
    padding: 8px 15px;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
}

/* -------------review-section--------------- */
.testimonial-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 0px 50px;
    margin-bottom: 50px;
}

.testimonial-details {
    text-align: center;
    transition: .5s;
}

.testimonial-details:hover {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
}

.testimonial-detail {
    padding: 25px;
}

.testimonial-detail i {
    color: var(--primary-color);
}

.testimonial-detail p {
    color: gray;
    text-align: center;
}

.testimonial-image img {
    border-radius: 100px;
    width: 30%;
}

/* ---------------footer-section--------------- */
footer {
    background: var(--footer-color);
}

.footer-details h2 {
    color: #fff;
}

.footer-details p {
    color: var(--p-color);
    text-align: justify;
    word-spacing: -5px;
}

.footer-details ul {
    padding: 0;
}

.footer-details ul li {
    list-style: none;
    padding: 8px 0;
}

.footer-details ul li a {
    text-decoration: none;
    color: var(--p-color);
}

.footer-details img {
    width: 180px;
    height: 90px;
}

.footer-contact {
    margin-top: 20px;
}


.details {
    margin-top: 25px;
}

.details a {
    color: var(--p-color);
    transition: .5s;
}

.details a:hover {
    color: var(--primary-color);
}

.details i {
    margin-right: 5px;
}

.copyright {
    text-align: center;
    margin-top: 50px;
}

.copyright p {
    color: var(--p-color);
}


/* media queries for mobile */
@media screen and (max-width: 688px) {
    .container {
        padding: 0 20px;
    }

    .nav-main {
        padding-top: 20px;
    }

    .nav-left {
        text-align: center;
    }

    .nav-right {
        justify-content: center;
    }

    .input-group {
        width: 80%;
    }

    .nav-hero {
        background-size: initial;
        height: 100vh;
    }

    .text-center {
        padding: 80px 0;
    }

    .gallery-details {
        width: 320px;
        height: 212px;
        padding-top: 60px;
        color: #fff;
    }

    .cost {
        top: 185px;
    }

    .gallery-banner {
        margin-bottom: 20px;
    }

    .offer-btn {
        padding-top: 8px;
    }

    .testimonial-main {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
}